services:
  - name: flask-app
    type: web
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -w 4 -b 0.0.0.0:8080 wiki_sc_aper:app
    baseDir: wiki_sc_aper  # Specify the correct base directory here
